@page
@model DotNetCoreAngularApp.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h2>
    Contact Sebastian
</h2>

<img src="~/Images/2018-07-19_08-02-33_HDR_bf (reduced).jpg" width="400" height="400"  />

